In [28]:
import pandas as pd 
import numpy as np

In [29]:
df = pd.read_csv('iris.csv')
df

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SepalLength  150 non-null    float64
 1   SepalWidth   150 non-null    float64
 2   PetalLength  150 non-null    float64
 3   PetalWidth   150 non-null    float64
 4   Name         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [31]:
df.describe()

       SepalLength  SepalWidth  PetalLength  PetalWidth
count   150.000000  150.000000   150.000000  150.000000
mean      5.843333    3.054000     3.758667    1.198667
std       0.828066    0.433594     1.764420    0.763161
min       4.300000    2.000000     1.000000    0.100000
25%       5.100000    2.800000     1.600000    0.300000
50%       5.800000    3.000000     4.350000    1.300000
75%       6.400000    3.300000     5.100000    1.800000
max       7.900000    4.400000     6.900000    2.500000

In [32]:
count_null = df.isnull().sum()
count_null

SepalLength    0
SepalWidth     0
PetalLength    0
PetalWidth     0
Name           0
dtype: int64

In [33]:
df['Name'].value_counts()

Name
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [34]:
X = df.drop(['Name'],axis=1)
y = df['Name']

In [35]:
X

     SepalLength  SepalWidth  PetalLength  PetalWidth
0            5.1         3.5          1.4         0.2
1            4.9         3.0          1.4         0.2
2            4.7         3.2          1.3         0.2
3            4.6         3.1          1.5         0.2
4            5.0         3.6          1.4         0.2
..           ...         ...          ...         ...
145          6.7         3.0          5.2         2.3
146          6.3         2.5          5.0         1.9
147          6.5         3.0          5.2         2.0
148          6.2         3.4          5.4         2.3
149          5.9         3.0          5.1         1.8

[150 rows x 4 columns]

In [36]:
y

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Name, Length: 150, dtype: object

In [37]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [38]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [39]:
X_train_scaled

array([[0.08823529, 0.66666667, 0.        , 0.04166667],
       [0.41176471, 1.        , 0.0877193 , 0.125     ],
       [0.70588235, 0.45833333, 0.59649123, 0.54166667],
       [0.14705882, 0.58333333, 0.10526316, 0.04166667],
       [0.02941176, 0.5       , 0.05263158, 0.04166667],
       [0.58823529, 0.20833333, 0.70175439, 0.75      ],
       [0.61764706, 0.5       , 0.61403509, 0.58333333],
       [0.26470588, 0.625     , 0.0877193 , 0.04166667],
       [0.20588235, 0.66666667, 0.07017544, 0.04166667],
       [0.26470588, 0.875     , 0.0877193 , 0.        ],
       [0.44117647, 0.29166667, 0.71929825, 0.75      ],
       [0.5       , 0.58333333, 0.61403509, 0.625     ],
       [0.70588235, 0.45833333, 0.64912281, 0.58333333],
       [0.32352941, 0.79166667, 0.05263158, 0.125     ],
       [0.32352941, 0.70833333, 0.0877193 , 0.04166667],
       [0.35294118, 0.16666667, 0.47368421, 0.375     ],
       [0.58823529, 0.33333333, 0.71929825, 0.58333333],
       [0.61764706, 0.45833333, 0.78947368, 0.70833333],
       [0.67647059, 0.41666667, 0.59649123, 0.54166667],
       [0.85294118, 0.66666667, 0.89473684, 1.        ],
       [0.41176471, 0.375     , 0.56140351, 0.5       ],
       [0.97058824, 0.41666667, 0.98245614, 0.83333333],
       [0.38235294, 0.41666667, 0.61403509, 0.58333333],
       [0.23529412, 0.625     , 0.07017544, 0.04166667],
       [1.        , 0.33333333, 1.        , 0.79166667],
       [0.44117647, 0.29166667, 0.54385965, 0.375     ],
       [0.26470588, 0.58333333, 0.07017544, 0.04166667],
       [0.20588235, 0.625     , 0.05263158, 0.08333333],
       [0.23529412, 0.75      , 0.15789474, 0.125     ],
       [0.20588235, 0.        , 0.43859649, 0.375     ],
       [0.58823529, 0.29166667, 0.68421053, 0.70833333],
       [0.14705882, 0.58333333, 0.15789474, 0.04166667],
       [0.20588235, 0.41666667, 0.10526316, 0.04166667],
       [0.23529412, 0.54166667, 0.12280702, 0.16666667],
       [0.38235294, 0.29166667, 0.56140351, 0.5       ],
       [0.23529412, 0.58333333, 0.0877193 , 0.04166667],
       [0.41176471, 0.41666667, 0.56140351, 0.45833333],
       [1.        , 0.75      , 1.        , 0.875     ],
       [0.08823529, 0.5       , 0.07017544, 0.04166667],
       [0.55882353, 0.375     , 0.57894737, 0.5       ],
       [0.41176471, 0.20833333, 0.70175439, 0.79166667],
       [0.35294118, 0.91666667, 0.07017544, 0.04166667],
       [0.5       , 0.41666667, 0.66666667, 0.70833333],
       [0.44117647, 0.29166667, 0.71929825, 0.75      ],
       [0.5       , 0.08333333, 0.52631579, 0.375     ],
       [0.32352941, 0.41666667, 0.61403509, 0.58333333],
       [0.55882353, 0.58333333, 0.77192982, 0.91666667],
       [0.35294118, 0.125     , 0.52631579, 0.5       ],
       [0.32352941, 0.79166667, 0.12280702, 0.125     ],
       [0.20588235, 0.125     , 0.40350877, 0.375     ],
       [0.61764706, 0.29166667, 0.75438596, 0.75      ],
       [0.20588235, 0.54166667, 0.07017544, 0.04166667],
       [0.20588235, 0.5       , 0.03508772, 0.04166667],
       [0.35294118, 0.16666667, 0.49122807, 0.41666667],
       [0.70588235, 0.41666667, 0.70175439, 0.66666667],
       [0.17647059, 0.45833333, 0.0877193 , 0.        ],
       [0.44117647, 0.33333333, 0.71929825, 0.95833333],
       [0.20588235, 0.58333333, 0.0877193 , 0.04166667],
       [0.20588235, 0.625     , 0.10526316, 0.20833333],
       [0.47058824, 0.5       , 0.66666667, 0.70833333],
       [0.23529412, 0.20833333, 0.35087719, 0.41666667],
       [0.76470588, 0.5       , 0.8245614 , 0.91666667],
       [0.5       , 0.29166667, 0.71929825, 0.625     ],
       [0.52941176, 0.25      , 0.80701754, 0.54166667],
       [1.        , 0.41666667, 0.89473684, 0.91666667],
       [0.35294118, 0.20833333, 0.52631579, 0.5       ],
       [0.02941176, 0.375     , 0.07017544, 0.04166667],
       [0.        , 0.41666667, 0.01754386, 0.        ],
       [0.5       , 0.08333333, 0.70175439, 0.58333333],
       [0.85294118, 0.5       , 0.87719298, 0.70833333],
       [0.08823529, 0.45833333, 0.0877193 , 0.04166667],
       [0.23529412, 0.625     , 0.07017544, 0.08333333],
       [0.02941176, 0.41666667, 0.05263158, 0.04166667],
       [0.58823529, 0.20833333, 0.68421053, 0.58333333],
       [0.58823529, 0.58333333, 0.80701754, 0.95833333],
       [0.08823529, 0.58333333, 0.07017544, 0.08333333],
       [0.73529412, 0.41666667, 0.78947368, 0.83333333],
       [0.58823529, 0.54166667, 0.87719298, 1.        ],
       [0.11764706, 0.5       , 0.05263158, 0.04166667],
       [0.52941176, 0.375     , 0.64912281, 0.54166667],
       [0.64705882, 0.33333333, 0.63157895, 0.58333333],
       [0.55882353, 0.33333333, 0.66666667, 0.70833333],
       [0.79411765, 0.5       , 0.64912281, 0.54166667],
       [0.61764706, 0.5       , 0.75438596, 0.91666667],
       [0.23529412, 0.75      , 0.10526316, 0.04166667],
       [0.76470588, 0.45833333, 0.77192982, 0.83333333],
       [0.47058824, 0.41666667, 0.56140351, 0.58333333],
       [0.64705882, 0.41666667, 0.73684211, 0.79166667],
       [0.41176471, 0.25      , 0.43859649, 0.375     ],
       [0.26470588, 0.29166667, 0.50877193, 0.54166667],
       [0.52941176, 0.41666667, 0.63157895, 0.54166667],
       [0.05882353, 0.125     , 0.05263158, 0.08333333],
       [0.67647059, 0.375     , 0.63157895, 0.5       ],
       [0.35294118, 0.25      , 0.59649123, 0.45833333],
       [0.29411765, 0.70833333, 0.0877193 , 0.04166667],
       [0.38235294, 0.41666667, 0.54385965, 0.5       ],
       [0.88235294, 0.375     , 0.92982456, 0.70833333],
       [0.70588235, 0.54166667, 0.8245614 , 0.83333333],
       [0.23529412, 0.70833333, 0.0877193 , 0.125     ],
       [0.17647059, 0.16666667, 0.40350877, 0.375     ],
       [0.70588235, 0.54166667, 0.8245614 , 1.        ],
       [0.85294118, 0.41666667, 0.84210526, 0.625     ],
       [0.17647059, 0.45833333, 0.0877193 , 0.        ],
       [0.70588235, 0.45833333, 0.80701754, 0.95833333],
       [0.17647059, 0.41666667, 0.07017544, 0.04166667],
       [0.76470588, 0.45833333, 0.68421053, 0.58333333],
       [0.91176471, 0.33333333, 0.89473684, 0.75      ],
       [0.58823529, 0.375     , 0.80701754, 0.70833333],
       [0.41176471, 0.33333333, 0.54385965, 0.5       ],
       [0.64705882, 0.41666667, 0.78947368, 0.70833333],
       [0.58823529, 0.125     , 0.59649123, 0.5       ],
       [0.61764706, 0.375     , 0.57894737, 0.5       ],
       [0.38235294, 0.33333333, 0.68421053, 0.79166667],
       [0.47058824, 0.41666667, 0.71929825, 0.70833333],
       [0.32352941, 0.58333333, 0.12280702, 0.04166667],
       [0.52941176, 0.33333333, 0.52631579, 0.5       ],
       [0.17647059, 0.20833333, 0.61403509, 0.66666667],
       [0.44117647, 0.83333333, 0.03508772, 0.04166667],
       [0.44117647, 0.25      , 0.52631579, 0.45833333],
       [0.82352941, 0.41666667, 0.85964912, 0.83333333]])

In [40]:
X_test_scaled

array([[0.52941176, 0.33333333, 0.64912281, 0.45833333],
       [0.41176471, 0.75      , 0.12280702, 0.08333333],
       [1.        , 0.25      , 1.03508772, 0.91666667],
       [0.5       , 0.375     , 0.61403509, 0.58333333],
       [0.73529412, 0.33333333, 0.66666667, 0.54166667],
       [0.32352941, 0.58333333, 0.0877193 , 0.125     ],
       [0.38235294, 0.375     , 0.45614035, 0.5       ],
       [0.76470588, 0.45833333, 0.71929825, 0.91666667],
       [0.55882353, 0.08333333, 0.61403509, 0.58333333],
       [0.44117647, 0.29166667, 0.50877193, 0.45833333],
       [0.64705882, 0.5       , 0.71929825, 0.79166667],
       [0.14705882, 0.41666667, 0.07017544, 0.        ],
       [0.35294118, 0.625     , 0.05263158, 0.04166667],
       [0.17647059, 0.45833333, 0.0877193 , 0.        ],
       [0.23529412, 0.75      , 0.0877193 , 0.08333333],
       [0.58823529, 0.54166667, 0.64912281, 0.625     ],
       [0.64705882, 0.41666667, 0.84210526, 0.875     ],
       [0.38235294, 0.20833333, 0.50877193, 0.41666667],
       [0.41176471, 0.33333333, 0.61403509, 0.5       ],
       [0.61764706, 0.33333333, 0.80701754, 0.875     ],
       [0.11764706, 0.5       , 0.10526316, 0.04166667],
       [0.52941176, 0.41666667, 0.68421053, 0.70833333],
       [0.20588235, 0.58333333, 0.10526316, 0.125     ],
       [0.61764706, 0.33333333, 0.80701754, 0.83333333],
       [1.05882353, 0.75      , 0.94736842, 0.79166667],
       [0.70588235, 0.41666667, 0.73684211, 0.91666667],
       [0.70588235, 0.20833333, 0.84210526, 0.70833333],
       [0.73529412, 0.5       , 0.85964912, 0.91666667],
       [0.14705882, 0.41666667, 0.07017544, 0.08333333],
       [0.14705882, 0.45833333, 0.10526316, 0.04166667]])

In [41]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score, accuracy_score, precision_score, recall_score, f1_score, classification_report

model_Decision_Tree = DecisionTreeClassifier()
model_NB = GaussianNB()
model_Logistic = LogisticRegression()
model_SVM = SVC()

In [42]:
model_Decision_Tree.fit(X_train_scaled, y_train)
Y_pred = model_Decision_Tree.predict(X_test_scaled)
accuracy = accuracy_score(y_test, Y_pred)
precision = precision_score(y_test, Y_pred, average='weighted')
recall = recall_score(y_test, Y_pred, average='weighted')
f1 = f1_score(y_test, Y_pred, average='weighted')
classification_rep = classification_report(y_test, Y_pred)

print(classification_rep)

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        10
Iris-versicolor       1.00      1.00      1.00         9
 Iris-virginica       1.00      1.00      1.00        11

       accuracy                           1.00        30
      macro avg       1.00      1.00      1.00        30
   weighted avg       1.00      1.00      1.00        30

In [43]:
model_NB.fit(X_train_scaled, y_train)
Y_pred = model_NB.predict(X_test_scaled)
accuracy = accuracy_score(y_test, Y_pred)
precision = precision_score(y_test, Y_pred, average='weighted')
recall = recall_score(y_test, Y_pred, average='weighted')
f1 = f1_score(y_test, Y_pred, average='weighted')
classification_rep = classification_report(y_test, Y_pred)

print(classification_rep)

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        10
Iris-versicolor       1.00      1.00      1.00         9
 Iris-virginica       1.00      1.00      1.00        11

       accuracy                           1.00        30
      macro avg       1.00      1.00      1.00        30
   weighted avg       1.00      1.00      1.00        30

In [44]:
model_Logistic.fit(X_train_scaled, y_train)
Y_pred = model_Logistic.predict(X_test_scaled)
accuracy = accuracy_score(y_test, Y_pred)
precision = precision_score(y_test, Y_pred, average='weighted')
recall = recall_score(y_test, Y_pred, average='weighted')
f1 = f1_score(y_test, Y_pred, average='weighted')
classification_rep = classification_report(y_test, Y_pred)

print(classification_rep)

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        10
Iris-versicolor       1.00      0.89      0.94         9
 Iris-virginica       0.92      1.00      0.96        11

       accuracy                           0.97        30
      macro avg       0.97      0.96      0.97        30
   weighted avg       0.97      0.97      0.97        30

In [45]:
model_SVM.fit(X_train_scaled, y_train)
Y_pred = model_SVM.predict(X_test_scaled)
accuracy = accuracy_score(y_test, Y_pred)
precision = precision_score(y_test, Y_pred, average='weighted')
recall = recall_score(y_test, Y_pred, average='weighted')
f1 = f1_score(y_test, Y_pred, average='weighted')
classification_rep = classification_report(y_test, Y_pred)

print(classification_rep)

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        10
Iris-versicolor       1.00      1.00      1.00         9
 Iris-virginica       1.00      1.00      1.00        11

       accuracy                           1.00        30
      macro avg       1.00      1.00      1.00        30
   weighted avg       1.00      1.00      1.00        30