In [37]:
import pandas as pd 
import numpy as np

In [38]:
df = pd.read_csv('stock.csv')
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-03-18T00:00:00.000,18.782143,18.998928,18.757143,18.978571,16.716616,209647200
1,2014-03-19T00:00:00.000,19.009287,19.151428,18.892857,18.973572,16.712214,224756000
2,2014-03-20T00:00:00.000,18.924643,19.023930,18.833929,18.882143,16.631680,208398400
3,2014-03-21T00:00:00.000,18.997499,19.062500,18.797501,19.031071,16.762859,374046400
4,2014-03-24T00:00:00.000,19.229286,19.303572,19.109285,19.256786,16.961672,355700800
...,...,...,...,...,...,...,...
2512,2024-03-11T00:00:00.000,172.940002,174.380005,172.050003,172.750000,172.750000,60139500
2513,2024-03-12T00:00:00.000,173.149994,174.029999,171.009995,173.229996,173.229996,59825400
2514,2024-03-13T00:00:00.000,172.770004,173.190002,170.759995,171.130005,171.130005,52488700
2515,2024-03-14T00:00:00.000,172.910004,174.309998,172.050003,173.000000,173.000000,72913500
2516,2024-03-15T00:00:00.000,171.169998,172.619995,170.289993,172.619995,172.619995,121664700

In [39]:
count_null = df.isnull().sum()
count_null

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [40]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,2517.000000,2517.000000,2517.000000,2517.000000,2517.000000,2.517000e+03
mean,81.227634,82.100457,80.402782,81.292729,79.305289,1.310816e+08
std,57.473311,58.100144,56.883720,57.525004,58.010991,7.713962e+07
min,18.501785,18.610357,18.261786,18.498571,16.293825,2.404830e+07
25%,31.330000,31.537500,31.004999,31.287500,28.214500,7.914430e+07
50%,50.474998,51.037498,50.119999,50.660000,48.832897,1.095604e+08
75%,140.309998,142.429993,138.160004,140.520004,139.135056,1.619544e+08
max,198.020004,199.619995,197.000000,198.110001,197.857529,7.599116e+08

In [41]:
X = df.drop(['Adj Close','Volume','Date'],axis=1)
y = df['Adj Close']

In [42]:
X

            Open        High         Low       Close
0      18.782143   18.998928   18.757143   18.978571
1      19.009287   19.151428   18.892857   18.973572
2      18.924643   19.023930   18.833929   18.882143
3      18.997499   19.062500   18.797501   19.031071
4      19.229286   19.303572   19.109285   19.256786
...          ...         ...         ...         ...
2512  172.940002  174.380005  172.050003  172.750000
2513  173.149994  174.029999  171.009995  173.229996
2514  172.770004  173.190002  170.759995  171.130005
2515  172.910004  174.309998  172.050003  173.000000
2516  171.169998  172.619995  170.289993  172.619995

[2517 rows x 4 columns]

In [43]:
y

0        16.716616
1        16.712214
2        16.631680
3        16.762859
4        16.961672
           ...
2512    172.750000
2513    173.229996
2514    171.130005
2515    173.000000
2516    172.619995
Name: Adj Close, Length: 2517, dtype: float64

In [44]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [45]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [46]:
X_train_scaled

array([[0.15356778, 0.15268327, 0.15118879, 0.15108408],
       [0.71078145, 0.7077504 , 0.68490226, 0.69027581],
       [0.20301958, 0.20567768, 0.20405941, 0.20412914],
       ...,
       [0.20054072, 0.20697596, 0.20073052, 0.20858322],
       [0.17810567, 0.1807895 , 0.18001587, 0.17942303],
       [0.12067419, 0.12120704, 0.12181622, 0.12193784]])

In [47]:
X_test_scaled

array([[0.71000159, 0.71482184, 0.7127083 , 0.71995099],
       [0.06542909, 0.06460785, 0.06490338, 0.06333911],
       [0.20184979, 0.20081606, 0.20225509, 0.2014428 ],
       ...,
       [0.0238595 , 0.02428442, 0.02349206, 0.02287478],
       [0.79444978, 0.79106089, 0.78773424, 0.79567004],
       [0.03949858, 0.0404793 , 0.039615  , 0.04038679]])

In [48]:
from sklearn.linear_model import LinearRegression,Lasso, Ridge
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

model_linear = LinearRegression()
model_Lasso = Lasso()
model_Ridge = Ridge()

In [49]:
model_linear.fit(X_train_scaled,y_train)
Y_pred = model_linear.predict(X_test_scaled)
mse = mean_squared_error(y_test, Y_pred)
rmse = np.sqrt(mean_squared_error(y_test, Y_pred))
mae = mean_absolute_error(y_test, Y_pred)
r2 = r2_score(y_test, Y_pred)
r2

0.9999202949136113

In [50]:
model_Lasso.fit(X_train_scaled,y_train)
Y_pred = model_Lasso.predict(X_test_scaled)
mse = mean_squared_error(y_test, Y_pred)
rmse = np.sqrt(mean_squared_error(y_test, Y_pred))
mae = mean_absolute_error(y_test, Y_pred)
r2 = r2_score(y_test, Y_pred)
r2

d:\PYTHON\Ana\VENV\envs\anh_kun\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:678: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.540e+03, tolerance: 6.787e+02
  model = cd_fast.enet_coordinate_descent(

0.9968491344803878

In [51]:
model_Ridge.fit(X_train_scaled,y_train)
Y_pred = model_Ridge.predict(X_test_scaled)
mse = mean_squared_error(y_test, Y_pred)
rmse = np.sqrt(mean_squared_error(y_test, Y_pred))
mae = mean_absolute_error(y_test, Y_pred)
r2 = r2_score(y_test, Y_pred)
r2

0.9997552816405639